#PHPStorm project folder
.idea/

#Vendors
/app/Frontend/node_modules/
/app/Frontend/bower_components/
/vendor/

#Cach and logs
/var/

#Assets
/web/assets/

#DB config
/app/Config/db.php

#min files
/app/Frontend/**/*.min.js
/app/Frontend/**/*.min.css