.table-recalls {
	> thead {
		th {
			padding: 0 !important;
			text-align: center;
			vertical-align: middle !important;

			> button {
				display: block;
				width: 100%;
				border: none;
				border-radius: 0;
				font-weight: bold;

				> .glyphicon {
					float: right;
					color: #ccc;
				}
			}
		}
	}

	> tbody {
		> tr {
			&:hover {
				cursor: pointer;
				background-color: #f4f7ff;
			}
		}
	}
}

.recall {
	.recall-header {
		.recall-header-list {
			margin: 0;
			padding: 0;
			list-style-type: none;

			> .recall-header-list-item {
				display: inline-block;
				margin-right: 15px;
			}
		}

	}

	.recall-footer {
		> .btn-group-nav {
			float: right;
		}
	}
}