<button class="btn btn-default"
        data-html="true"
        data-toggle="popover"
        data-trigger="focus"
        data-key="{{ key }}">

        {{ title }} <i class="glyphicon glyphicon glyphicon-menu-down"></i>
</button>